* {
  /*universal modifications, delete if necessary*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#access-form {
  color: rgba(57, 62, 70, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(217, 217, 217, 1);
  max-width: 340px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  font-size: 16px;
  border-radius: 8px;
}

#access-form h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 23px;
}

#access-form input,
#access-form label {
  display: block;
}

#access-form input {
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

#access-form ul {
  padding: 0 16px;
  width: 100%;
  font-size: 12px;
  position: relative;
  top: -12px;
  z-index: -1;
}

#access-form label {
  margin-bottom: 9px;
}

.access-form-btn {
  color: rgba(238, 238, 238, 1);
  background-color: rgba(0, 173, 181, 1);
  font-size: 16px;
  text-align: center;
  padding: 5px 13px;
  border-radius: 3px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.access-form-btn:hover {
  background-color: rgb(0, 193, 203);
}

.password-text {
  color: rgba(117, 117, 117, 1);
  text-align: right;
  display: block;
}

.mandatory-field::after {
  content: " *";
}

span.mandatory-alert {
  color: rgb(255, 84, 84);
  font-size: 12px;
  position: relative;
  top: -24px;
  z-index: -1;
}

label.mandatory-alert {
  color: rgb(255, 84, 84);
}

#access-form input.mandatory-alert {
  border-color: rgb(255, 84, 84);
}

.login-alert {
  border: 1px solid rgb(255, 84, 84);
  background-color: rgba(255, 84, 84, 0.139);
  padding: 10px;
  margin-bottom: 24px;
}

.success-alert {
    color: rgb(0, 128, 79);
    text-align: center;
    width: 100%;
    display:block;
}

.success-alert a {
    font-weight: 600;
    color: #000;
}

.artist-check-container {
  display: flex;
  margin-bottom: 24px;
}

#access-form .artist-check-container input {
  display: inline-block;
  width: 16px;
  margin-bottom: 9px;
  margin-left: 16px;
}

.register-incorrect {
  color: rgb(255, 84, 84);
}

.register-correct {
  color: rgb(0, 128, 79);
}
