.home-page {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  

  .filters-section {
    flex: 1;
    max-width: 300px;
  }
  

  .products-section {
    flex: 3;
  }
  
  @media screen and (min-width: 375px){
    .home-page {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      gap: 0px;
      padding: 0px;
    }

  }